:root {
  --primaryColor: #be9c79;
  --secondaryColor: #666666;
  --tertiaryColor: #333333;
  --ffPrimary: "Nunito Sans", serif;
  --ffSecondary: "Merienda", serif;
}

body {
  font-family: var(--ffPrimary);
}

h1,
h2 {
  font-family: var(--ffSecondary);
}

p {
  color: var(--secondaryColor);
}


.hero {
  background: linear-gradient(90deg, white, transparent 70%), url(./assests/images/home-bg.jpg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 22rem 0rem;
}

button, .card i{
    background-color: #be9c79;
    color:white;
}
button:hover{
background: #635d5d;
}